@font-face {
    font-family: 'blaak';
    src: url('fonts/blaakthin_personal-webfont.woff2') format('woff2'),
         url('fonts/blaakthin_personal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blaak';
    src: url('fonts/blaakbold_personal-webfont.woff2') format('woff2'),
         url('fonts/blaakbold_personal-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    background-color: #FFF6F5;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #003E93;
  }

.menu {
    display: flex;             
    justify-content: space-between; 
    align-items: center;   
    height: 3rem;
    padding: 12px 12px;
    margin: 0;
}

.nav-links {
    display: flex;
    font-family: 'blaak', sans-serif;
    font-weight: bold;
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-align: left;
    margin: 0;
    min-height: 44px;
    letter-spacing: -5%;
}


.heading::before {
    content: "👋🏻 ";
    font-size: clamp(2rem, 5vw, 4rem);
    line-height: 100%;
}

.hero {
    display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 95vh;
}

h1 {
    font-family: 'blaak', sans-serif;
    font-weight: normal;
    font-size: clamp(2rem, 5vw, 5rem);
    text-align: left;
    padding-bottom: 5rem;
    max-width: 1300px;
    margin: 0;
    color: #003E93;
    letter-spacing: -0.1rem;
    line-height: 1.2;
}

p {
    font-family: 'blaak', sans-serif;
    font-weight: thin;
    font-size: 1rem
}

.marquee {
    position: absolute;
    top: calc(100vh - 80px);
    left: 0;
    overflow: hidden;
    width: 100%;
  }
  
  .marquee.fixed {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .track {
    display: flex;
  }
  
  .marquee-text {
    flex-shrink: 0;
    font-size: 60px;
    line-height: 80px;
    padding-right: 50px;
  }
  
  .marquee-text.two {
    opacity: 1;
  }
  

