@font-face {
    font-family: 'blaak_regular_personal_useRg';
    src: url('blaakregular-webfont.woff2') format('woff2'),
         url('blaakregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'blaak', sans-serif;
}
